form {
    width: 30%;
    margin:1%;
    border-color:black;
    border-style: solid;
}
p {
    background-color: orange;
    color: white;
    font-size: 30px;
    text-align: center;
}
#table{
    text-align: left;
}
#ho-ten_email{
    text-align:left;
}